.main {
  min-height: 83vh;
  background-image: url("../public/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  z-index: 1;
}


@media screen and (max-width: 768px) {
  .main {
    min-height: 100vh;
  }
}
  

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
